<div class="container bg-dark ownContainer">
  <div class="row">
    <div class="col align-self-center ownColor">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ad nesciunt
      velit fugit. Consequatur veritatis ullam voluptate, sint totam autem
      architecto accusamus quos itaque officia? Magni sequi perferendis
      necessitatibus unde ratione mollitia aliquam provident consequuntur iste
      quos. Aspernatur, inventore explicabo.
    </div>
    <div class="col align-self-center text-light ownImag">
      <img
        src="https://images.pexels.com/photos/6271698/pexels-photo-6271698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt=""
      />
    </div>
    <div class="col align-self-center text-light">
      <img
        src="https://images.pexels.com/photos/6271678/pexels-photo-6271678.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </div>
  </div>
</div>
