<div class="container">
  <div class="card-group" *ngFor="let product of products; index as productId">
    <div class="card">
      <img src="{{ product.image }}" class="card-img-top" alt="..." />
      <a class="col-md-12" routerLink="../products/{{ productId }}"
        >Destination: {{ product.destination }}</a
      >
      <div class="card-body">
        <h5 class="card-title">Info</h5>
        <p class="card-text" *ngIf="product.description">
          {{ product.description }}
        </p>
        <h4 class="text-darnger" *ngIf="product.price">
          Price : {{ product.price }} $
        </h4>
      </div>
      <div class="card-footer">
        <p *ngIf="product.startDate">Start Date: {{ product.startDate }}</p>
        <small class="fst-italic" *ngIf="product.duration"
          >Duration: {{ product.duration }}</small
        >
      </div>
    </div>

    <div class="card">
      <img src="{{ product.image }}" class="card-img-top" alt="..." />
      <a class="col-md-12" routerLink="../products/{{ productId }}"
        >Destination: {{ product.destination }}</a
      >
      <div class="card-body">
        <h5 class="card-title">Info</h5>
        <p class="card-text" *ngIf="product.description">
          {{ product.description }}
        </p>
        <h4 class="text-darnger" *ngIf="product.price">
          Price : {{ product.price }} $
        </h4>
      </div>
      <div class="card-footer">
        <p *ngIf="product.startDate">Start Date: {{ product.startDate }}</p>
        <small class="fst-italic" *ngIf="product.duration"
          >Duration: {{ product.duration }}</small
        >
      </div>
    </div>

    <div class="card">
      <img src="{{ product.image }}" class="card-img-top" alt="..." />
      <a class="col-md-12" routerLink="../products/{{ productId }}"
        >Destination: {{ product.destination }}</a
      >
      <div class="card-body">
        <h5 class="card-title">Info</h5>
        <p class="card-text" *ngIf="product.description">
          {{ product.description }}
        </p>
        <h4 class="text-darnger" *ngIf="product.price">
          Price : {{ product.price }} $
        </h4>
      </div>
      <div class="card-footer">
        <p *ngIf="product.startDate">Start Date: {{ product.startDate }}</p>
        <small class="fst-italic" *ngIf="product.duration"
          >Duration: {{ product.duration }}</small
        >
      </div>
    </div>
  </div>
</div>
