<div class="container">
    <div class="row align-items-start ownStyle1 g-0">
      <div class="col"><img src="assets/img/sport.jpg" alt="pic">
        
      </div>
      <div class="col ownColor  text-center mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ab eveniet tempore qui sapiente provident odio explicabo vel. Temporibus ullam fugit sapiente! Fugit necessitatibus quos expedita. Deserunt est necessitatibus nobis!
      </div>
      
    </div>
    <div class="row align-items-center g-0 p-5 bg-dark">
      <div class="col ownColor1 text-start">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum vel ea pariatur eaque, quo perspiciatis atque inventore iste delectus mollitia aliquid molestiae aperiam deserunt incidunt nostrum corporis quibusdam quas? Consectetur!
      </div>
      <div class="col ownColor1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed tenetur exercitationem est sapiente ipsa deleniti debitis accusamus eos ab aliquid totam reprehenderit hic, numquam asperiores quaerat a vel repellat illum?
      </div>
      <div class="col"><img src="assets/img/blog1.jpg" alt="pic">
       
      </div>
     
    </div>


    <div class="row align-items-center g-0 ownStyle1">
        <div class="col ownColor">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum vel ea pariatur eaque, quo perspiciatis atque inventore iste delectus mollitia aliquid molestiae aperiam deserunt incidunt nostrum corporis quibusdam quas? Consectetur!
        </div>
        <div class="col ownColor m-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed tenetur exercitationem est sapiente ipsa deleniti debitis accusamus eos ab aliquid totam reprehenderit hic, numquam asperiores quaerat a vel repellat illum?
        </div>
        <div class="col"><img src="assets/img/night.jpg" alt="pic">
        
        </div>
       
      </div>
      <div class="row align-items-start g-0 p-5 bg-dark">
        <div class="col"><img src="assets/img/sport2.jpg" alt="pic">
          
        </div>
        <div class="col  ownColor1 m-5 mt-5">
          Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam distinctio dolorum delectus assumenda eveniet ea, rerum cum minus sequi obcaecati et labore rem tenetur esse consequuntur odio? Magnam, dolore nihil.elit. Ullam ab eveniet tempore qui sapiente provident odio explicabo vel. Temporibus ullam fugit sapiente! Fugit necessitatibus quos expedita. Deserunt est necessitatibus nobis!
        </div>
        
      </div>
  </div>
