img{
    width: 700px;
}

.ownColor{
    color: rgb(44, 63, 92);
   
}



.ownStyle1{
    font-family: 'Dosis', sans-serif;
    padding: 20px; 
    background-color: rgb(240, 204, 187);
    font-size: 18px;
}
.ownColor1{
    font-family: 'Dosis', sans-serif;
    color: brown;
    font-size: 18px;

}