<main class="container">
  <app-hero></app-hero>
  <app-home-content></app-home-content>
  <section class="section1 text-center justify-content-center p-3">
    <h2 class="py-1 text-dark">Why we're the Best</h2>
    <hr />
    <br />
    <ul class="row p-0">
      <li class="col-12 col-md-6 col-lg-3 text-center">
        <i class="bi bi-building"></i>
        <h5 class="pt-3">Accomodation</h5>
        <p>We offer the finest selection of top notch hotels anywhere!</p>
      </li>
      <li class="col-12 col-md-6 col-lg-3 text-center">
        <i class="bi bi-truck"></i>
        <h5 class="pt-3">Transportation</h5>
        <p>Whether it's about air tickets or shuttle bus, we will set it up!</p>
      </li>
      <li class="col-12 col-md-6 col-lg-3 text-center">
        <i class="bi bi-people-fill"></i>
        <h5 class="pt-3">Seasoned Agents</h5>
        <p>Combined, the experience our agents have is centuries!</p>
      </li>
      <li class="col-12 col-md-6 col-lg-3 text-center">
        <i class="bi bi-star-fill"></i>
        <h5 class="pt-3">Easy Trip Planning</h5>
        <p>Our travel agents are always ready to plan your perfect trip!</p>
      </li>
    </ul>
  </section>
</main>
